<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
<meta charset="UTF-8" />
</head>

<body>

	<section class="layout-content" layout:fragment="corpo">

		<main role="main">
			<div class="contatiner_tabela">
				<div class="form"><br>
					<div class="form-header">
						<h2 class="font-italic">Lista de Categoria</h2>
					</div>
				</div>
				<div th:replace="~{fragments/alert2  :: alerta-sucesso}"></div>

				<table class="table table-striped table-bordered table-sm">
					<thead class="table-dark">
						<tr>
							<th>Categoria</th>
							<th>Editar</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tr th:each="categ : ${lista}">

						<td th:text="${categ.nome}"></td>
						<!-- Ação de editar e remover -->
						<td><a th:href="@{/editarCategoria(id=${categ.id})}"> <img
								class="gifs" th:src="@{'/image/editar.ico'}" alt="gif" />
						</a></td>

						<td><a th:href="@{/removerCategoria(id=${categ.id})}"
							data-toggle="modal" data-target="#myModal"> <img class="gifs"
								th:src="@{'/image/excluir.ico'}" alt="gif" />
						</a></td>
					</tr>
				</table>
				<hr />
				<a href="/exibirFormCategoria" class="btn btn-primary" role="button"
					aria-pressed="true">Nova Categoria</a>

			</div>

			<div th:replace="~{fragments/modal :: modal}"></div>

			<script th:src="@{/js/categoria.js?(v=${version})}" th:fragment="js"></script>
			<script th:inline="javascript" th:fragment="inlinescript"></script>
		</main>
	</section>

</body>

</html>