<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

			<div class="container col-md-10">

				<div class="form">
					<div class="form-header">
						<h2 class="font-italic">Novo produto para afiliação</h2>
					</div>
				</div>

				<form th:action="@{/salvarProduto}" method="POST"
					th:object="${produto}" enctype="multipart/form-data">
					<input type="hidden" th:field="*{id}">

					<div class="card w-100">
						<div class="card-header">

							<div class="form-row">
								<div class="form-group col-md-6">
									<div class="input-box">
										<label for="nome">Nome do Produto</label>
									</div>
									<div>
										<input type="text" class="form-control" id="nome"
											placeholder="Nome do produto" th:field="*{nome}">
									</div>
								</div>

								<div class="form-group col-md-6">
									<div class="input-box">
										<label for="link">Link do Afiliafo "URL"</label>
									</div>
									<div>
										<input type="url" name="url" id="url" class="form-control" 
											placeholder="https://example.com" th:field="*{link}">
									</div>

								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<div class="input-box">
										<label for="imagem" class="input-box">Imagem do
											produto</label>
									</div>
									<div>

										<input type="file" class="form-control" id="imagem"
											name="fileProduto">
									</div>

								</div>

								<div class="form-group col-md-6">
									<div class="input-box">
										<label for="preco" class="input-box">Preço Avista</label>
									</div>
									<input type="number" min="0" step="0.01"
										data-number-to-fixed="2" data-number-stepfactor="100"
										class="form-control currency" id="preco"
										placeholder="Preço do produto Avista" th:field="*{preco}">

								</div>
							</div>
							<!-- Imagem do produto, Preço Avista -->
							<div class="form-row">
								<div class="form-group col-md-4">
									<div class="input-box">
										<label for="preco" >Preço Parcelado</label>
									</div>
									<input type="number" min="0" step="0.01"
										data-number-to-fixed="2" data-number-stepfactor="100"
										class="form-control currency" id="preco"
										placeholder="Preço do produto Avista"
										th:field="*{precoParcela}">

								</div>
								
								<!--  -->
								
								<div class="form-group col-md-4">
									<div class="input-box">
										<label for="parcela">Quantidade de parcelas</label>
									</div>
									<div>
										<select id="parcela" class="form-control" th:field="*{parcela}">
											<option value="0">Selecione uma parcelas</option>
											<option th:each="parce : ${listaParcelas}" th:value="${parce.id}"
												th:text="| ${parce.nome}x |" />
										</select>
									</div>
								</div>
  
								<div class="form-group col-md-4">
									<div class="input-box">
										<label for="valor">Porcentagem de desconto</label>
									</div>
									<div>
										<select id="valor" class="form-control" th:field="*{valor}">
											<option value="0">Selecione a porcentagem</option>
											<option th:each="val : ${listaPorcentos}"
												th:value="${val.id}" th:text="| ${val.nome}% |" />
										</select>
									</div>
								</div>
								
								<!--  -->
								
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<div class="input-box">
										<label for="categoria">Categoria</label>
									</div>
									<div>
										<select id="categoria" class="form-control"
											th:field="*{categoria}">
											<option value="0">Selecione uma categoria</option>
											<option th:each="cat : ${listaCategorias}"
												th:value="${cat.id}" th:text="${cat.nome}" />
										</select>
									</div>
								</div>

								<div class="form-group col-md-4">
									<div class="input-box">
										<label for="genero">Gênero</label>
									</div>
									<div>
										<select id="genero" class="form-control" th:field="*{genero}">
											<option value="0">Selecione um gênero</option>
											<option th:each="gen : ${listaGeneros}" th:value="${gen.id}"
												th:text="${gen.nome}" />
										</select>
									</div>
								</div>

								<div class="form-group col-md-4">
									<div class="input-box">
										<label for="genero">Fornecedor</label>
									</div>
									<div>
										<select id="fornecedor" class="form-control"
											th:field="*{fornecedor}">
											<option value="0">Selecione um fornecedor</option>
											<option th:each="for : ${listaFornecedores}"
												th:value="${for.id}" th:text="${for.nome}" />
										</select>
									</div>
								</div>
							</div>

							<div th:if="${#fields.hasErrors('*')}">
								<ul>
									<li th:each="erro : ${#fields.errors('*')}" th:text="${erro}"
										class="alert-danger">
								</ul>
							</div>
							<br>
							<ul class="nav nav-pills card-header-pills">
								<li class="nav-item">
									<div class="col-md-2">
										<button type="submit" class="btn btn-primary">
											Cadastrar<i class=" col-md-2 fas fa-save"></i>
										</button>
									</div>
								</li>

								<li class="nav-item">
									<div class="col-md-4">
										<a th:href="@{/listarProdutos}" class="btn btn-primary"
											role="button" aria-pressed="true">Voltar para a lista</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<br> <br>
				</form>
			</div>


			<script th:src="@{/js/produto.js?(v=${version})}" th:fragment="js"></script>
			<script th:inline="javascript" th:fragment="inlinescript"></script>
		</main>
	</section>
</body>
</html>